---
interface Props {
    title: string;
    header: string;
    paragraph: string;
};

const {title} = Astro.props;
const {header} = Astro.props;
const {paragraph} = Astro.props;
---

<section class="bg-[#010105] h-screen grid content-center">
    <div class="items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-4 lg:gap-16 xl:gap-24 lg:py-16 lg:px-6">

        <!-- Left Column Start -->
        <div class="col-span-2 space-y-4 mb-8">

            <p class="text-lg font-sans text-gray-400">{title}</p>
            <h2 class="mt-3 mb-4 text-3xl tracking-tight font-mono font-medium md:text-4xl text-white">{header}</h2>
            <p class="font-light font-sans sm:text-xl text-gray-400">{paragraph}</p>

            <div class="col-span-2 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0">

                <div class="grid space-y-2">
                    <slot name="colorOne"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorTwo"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorThree"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorFour"/>
                </div>
    
            </div>

        </div>
        <!-- Left Column End -->

        <!-- Right Column Start -->
        <div class="col-span-2 mb-8">

            <p class="text-lg font-sans text-gray-400">{title}</p>
            <h2 class="mt-3 mb-4 text-3xl tracking-tight font-mono font-medium md:text-4xl text-white">{header}</h2>
            <p class="font-light font-sans sm:text-xl text-gray-400">{paragraph}</p>

            <div class="col-span-2 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0">

                <div class="grid space-y-2">
                    <slot name="colorOne"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorTwo"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorThree"/>
                </div>
    
                <div class="grid space-y-2">
                    <slot name="colorFour"/>
                </div>
    
            </div>

        </div>
        <!-- Right Column End -->

    </div>
</section>