---
import '../styles/main.css';

interface Props {
    header: string;
    subheading: string;
    paragraphOne: string;
    paragraphTwo: string;
};

const {header} = Astro.props;
const {subheading} = Astro.props;
const {paragraphOne} = Astro.props;
const {paragraphTwo} = Astro.props;
---

<section class=" bg-gradient-to-b from-[#010105] via-[#010105]/20 to-[#010105]">
    <div class="py-8 px-4 grid lg:grid-cols-2 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

        <!-- Header & Description Start -->
        <div class="space-y-2 mx-auto max-w-screen-md mb-8 lg:mb-12">
            <p class="text-lg font-sans font-medium text-teal-500">{header}</p>
            <h2 class="text-3xl tracking-tight font-mono md:text-4xl text-white">{subheading}</h2>
            <p class="font-light font-sans sm:text-xl text-gray-300">{paragraphOne}</p>
            <br/>
            <p class="font-light font-sans sm:text-xl text-gray-300">{paragraphTwo}</p>
        </div>
        <!-- Header & Description End -->

        <!-- Pricing Card Container Start -->
        <div class="space-y-8 lg:grid sm:gap-6 xl:gap-10 lg:space-y-0">

            <slot name="solutionCard"/>
            
        </div>
    </div>
</section>