---
interface Props {
    title: string;
    header: string;
    paragraphOne: string;
    paragraphTwo?: string;
};

const {title} = Astro.props;
const {header} = Astro.props;
const {paragraphOne} = Astro.props;
const {paragraphTwo} = Astro.props;
---

<section class="bg-[#010105] grid content-center">

    <div class="max-w-screen-xl py-12 px-4 mx-auto lg:py-24 lg:px-6">

        <div class="grid gap-6 mt-12 lg:mt-14 lg:gap-12 lg:grid-cols-2">

            <!-- Header & Description -->
            <div class="space-y-2 flex mb-2 flex-col md:mb-0">
                <p class="text-lg font-sans font-medium text-teal-500">{title}</p><!--  -->
                <h2 class="text-3xl tracking-tight font-mono md:text-4xl text-white">{header}</h2><!--  -->
                <p class="font-light font-sans sm:text-xl text-gray-300">{paragraphOne}</p><!--  -->
                <br>
                <p class="font-light font-sans sm:text-xl text-gray-300">{paragraphTwo}</p><!--  -->
            </div>

            <!-- Review Video -->
            <div class="flex justify-center">
                <slot name="reviewVideo"/>
            </div>

        </div>

    </div>

</section>